
[class="Table1"]{
    border:5px double yellowgreen;

    [class="ImportantData"],[class="NormalData"]{
        border:1px solid rgb(90, 235, 90);
    }

    [class="ImportantData"]{
        background-color:rgba(127, 255, 212, 0.268);
    }
}