
body{
    font-family: Helvetica, Arial, sans-serif;
}

[id="info_block"]{
    font-size:35px;
    background-color:black;
    color:white;
}

[id="Required_password_title"]{
    font-weight:bold;
    color:rgb(21, 255, 0);
    text-shadow:4px 4px 4px aquamarine;
}

[id="contactinfo_title"]{
    font-weight:bold;
    color:rgb(0, 149, 255);
    text-shadow:4px 4px 4px aquamarine;
}
